body {text-align: center;}
#title {font-size: 30px}
#mygames { background-color: deepskyblue}

#mygames img { margin-top: 35px;
height:300px;}

#mygames p {margin-bottom: 50px;
margin-top: 50px;
font-size: 20;
color:white}
